.theme-toggle {
    background: var(--theme-btn-bg);
    color: var(--text);
    border: none;
    border-radius: 8px;
    padding: 6px 14px;
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
    transition: all ease-in-out .1s;

    &:hover {
        color: var(--accent);
    }
}
