<div class="file" (click)="navigate()">
  <div class="file-paper">
    <div class="file-corner"></div>
    <div class="file-header">
      <span class="file-title">{{ entry.title }}</span>
    </div>
    <div class="file-content">
      <div class="line"></div>
      <div class="line-row">
        <div class="line long"></div>
        <div class="line"></div>
      </div>
      <div class="line"></div>
      <div class="line-row">
        <div class="line"></div>
        <div class="line long"></div>
      </div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</div>
