<!-- components/header/header.component.html - add tierlist link -->
<header class="header">
  <span class="logo">
    <a routerLink="/">
      Archive
    </a>
  </span>
  <nav class="nav-links">
    <a routerLink="/music" class="nav-link">Music</a>
    <a routerLink="/notes" class="nav-link">Notes</a>
    <a routerLink="/tierlist" class="nav-link">Tier List</a>
    <a routerLink="/understand" class="nav-link">Taste</a>
    <a routerLink="/browser" class="nav-link">Browser</a>
  </nav>
  <div class="user-section" *ngIf="authService.isAuthenticated && (authService.user$ | async) as user">
    <img [src]="user.picture" alt="Avatar" class="avatar">
    <button class="logout-btn" (click)="logout()">Sign out</button>
  </div>
  <app-theme-button></app-theme-button>
</header>